<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>save-product</title>
</head>
<body>
    <div>
        <h1>store product</h1>
        <form action="/seller/save-product" method="Post">
            <input type="text"name="email_id"placeholder="email">
            <input type="text"name="password"placeholder="password">
            <input type="text"name="product_name"placeholder="product-name">
            <input type="text"name="medicine_type"placeholder="medicine-type">
            <input type="number"name="price"placeholder="price">
            <input type="submit"value="submit">

        </form>
    </div>
    
</body>
</html>